#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-38.3%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-content {
    --background: #fafafa;
    // --background: linear-gradient(to bottom, #c78b1d, #fff199);
    // --background: linear-gradient(to left, rgb(212, 211, 194), rgb(204, 235, 158), rgb(242, 230, 103), rgb(239, 196, 56), rgb(224, 224, 144));
    // --background: linear-gradient( rgb(212, 211, 194), rgb(204, 235, 158), rgb(242, 230, 103), rgb(239, 196, 56), rgb(224, 224, 144));
    // --background: linear-gradient(to bottom left, rgb(212, 211, 194) , rgb(204, 235, 158), rgb(242, 230, 103), rgb(239, 196, 56), rgb(224, 224, 144));
    // --background: linear-gradient(to bottom left, rgb(212, 211, 194) 20%, rgb(204, 235, 158) 10%, rgb(242, 230, 103) 20%, rgb(239, 196, 56) 10%, rgb(224, 224, 144)), url('../../assets/Logo1.png');
    /* Utilisez vos couleurs de dégradé */
    position: relative;
}

ion-input.custom {
    --background: #eddcdc;
    --color: #1b1b1a;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
}

ion-input.custom .helper-text,
ion-input.custom .counter {
    color: var(--ion-color-step-700, #373737);
}

.login-header {
    --background: black;
}

.login-header {
    position: relative;
    background: black;
    border-radius: 0em;
}

.login-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--theme-color);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.logo-img {
    display: block;
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

[heading-columns-lr] {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

[big-heading] {
    font-family: 'Heebo-Bold', !important;
    font-size: 30px !important;
    color: var(--theme-black);
    margin-left: -8px;
    text-align: left;
}

[small-heading] {
    font-family: 'Heebo-Regular', !important;
    margin-left: auto;
    padding-right: 40px;
    font-size: 10px !important;
}

[transparent] {
    --background: transparent;
}

ion-input {
    --color: #000;
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 15px;
    font-size: 15px;
    text-indent: 1px;
    padding-left: 10px !important;
}

[ion-small] {
    width: 30px;
}

ion-item {
    --highlight-color-focused: transparent;
    --highlight-height: 0;
    --highlight-color-invalid: #e51515;
    --highlight-color-valid: #ddd;
    --min-height: 65px;
    --padding-start: 0;
}

[linespace] {
    height: 10px;
}

ion-label {
    color: #000;
    opacity: .8;
    font-family: 'Merienda-Regular', !important;
    font-size: 13px;
    display: block;
}

.bis {
    margin-left: -7%;
    font-family: 'Merienda-Regular';
}

.numerooublie {
    color: sandybrown;
    font-size: 13px;
    display: block;
    text-align: right;
    padding: 10px;
}

.link-button {
    color: sandybrown;
    cursor: pointer;
}

ion-button {
    --box-shadow: none;
}